/*===============================USER AREA===================================*/
// div#user-area{
    div.navbar {
        width: 100%;
        background-color: red;
        display: flex;
        flex-direction: row;
        padding: 5px 0;
        div.menu-hamburger{
            width: 100%;
            i{
                font-size: 26px;
                position: relative;
                left: 10px;
                top: 7px;
                cursor: pointer;
            }
        }
        div.options{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            i{
                position: relative;
                top: 8px;
                font-size: 22px;
                margin: 0 6px 0 6px;
                cursor: pointer;
            }
            img{
                width: 40px;
                cursor: pointer;
            }

        }
    }
// }
